<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-xs-12 shopinfo">
        <h4 class="title farsi">بانک کتاب قاصدک</h4>
        <p> 
        This Efficiently negotiate robust communities with extensible systems. Appropriately productize top-line leadership skills rather than team building applications.
         </p>
      </div>
      <div class="col-sm-3 col-xs-12 footermenu">
        <h4 class="title farsi">اطلاعات
        </h4>
        <ul>
          <li class="item"> <a href="#a">اطلاعات ارسال محصولات</a></li>
          <li class="item"> <a href="#a">سوالات متداول</a></li>
          <li class="item"> <a href="#a">راهنمای پرداخت</a></li>
          <li class="item"> <a href="#a">تقاضای خرید محصول</a></li>
          <li class="item"> <a href="#a">ثبت سرمایه گزاری</a></li>
          <li class="item"> <a href="#a">شرایط تخفیف ها</a></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12 footermenu">
        <h4 class="title farsi">کاربران</h4>
        <ul>
          <li class="item"> <a href="#a">ثبت نام</a></li>
          <li class="item"> 66177260 </li>
          <li><%= link_to "شرایط و قوانین", page_path(:terms)%></li>
          <li><%= link_to "حفظ حریم خصوصی", page_path(:privacy)%></li>
          <li><%=  link_to "قوانین بازگشتی ها", page_path(:returns)%></li>
          <li><%=  link_to "سوالات متداول", page_path(:faqs)%></li>
        </ul>
      </div>
      <div class="col-sm-3 col-xs-12 getintouch">
        <h4 class="title farsi">
          برای تماس با ما
        </h4>
        <ul>
          <li>
            <div class="icon"><i class="fa fa-map-marker fa-fw"></i></div>
            <div class="c-info"> <span>شارع 3، NY، الولايات المتحدة<br>
              <a href="#a">تابعنا على الخريطة</a></span></div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-envelope-o fa-fw"></i></div>
            <div class="c-info"> <span>بنا على البريد الإلكتروني:<br>
              <a href="#a">support@domain.com</a></span></div>
          </li>
          <li>
            <div class="icon"><i class="fa fa-phone fa-fw"></i></div>
            <div class="c-info"> <span>24/7 دعم الهاتف:<br>
              <a href="#a">+1 (888) 888 8888</a></span></div>
          </li>
          <li>
            <div class="icon"> <i class="fa fa-instagram fa-fw"></i></div>
            <div class="c-info"> <span>تحدث معنا:<br>
              <a href="#a">skypeid</a></span></div>
          </li>
        </ul>
        <div class="social-icons">
          <ul>
            <li class="icon google-plus"><a href="#a"><i class="fa fa-google-plus fa-fw"></i></a></li>
            <li class="icon linkedin"><a href="#a"><i class="fa fa-linkedin fa-fw"></i></a></li>
            <li class="icon twitter"><a href="#a"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li class="icon facebook"><a href="#a"><i class="fa fa-facebook fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<%= javascript_include_tag('style-switch.js') %>