<header>
  <!-- Top Heading Bar -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="topheadrow">
          <ul class="nav nav-pills pull-right">

            <li>
              <%= link_to page_path(:terms) do%>
                <span class="hidden-xs">
                  شرایط و قوانین
                </span>
                  <i class="fa fa-shopping-cart fa-fw"></i>
              <% end %>
            </li>

            <% if signed_in? %>
                <li>
                  <%= link_to destroy_user_session_path , :method => :delete do %>
                      <i class="fa fa-heart fa-fw"></i>
              <span class="hidden-xs">
                خروج از حساب کاربری
                </span>
                  <% end %>
                </li>
            <% end %>
            <% if not signed_in?  %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#a">
                    <i class="fa fa-user fa-fw"></i>
                    <span class="hidden-xs">
                    حساب کاربری
                    </span>
                  </a>
                  <div class="loginbox dropdown-menu"> <span class="form-header">
                    وارد شو
                  </span>
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="form-group "> <i class="fa fa-user fa-fw"></i>
                          <%= f.text_field :phone_number, autofocus: true , class: "form-control" , placeholder: "شماره موبایل"%>
                        </div>

                        <div class="form-group "> <i class="fa fa-lock fa-fw"></i>
                          <%= f.password_field :password, autocomplete: "off", class: "form-control" ,
                                               placeholder: "رمز عبور"%>
                        </div>
                        <%= f.submit "تایید" , :class => "btn  pull-left" , :onClick => "return validateMobNo(user_phone_number.value)" %>
                        <%=link_to 'ثبت نام', new_user_registration_path , :class => "btn bg-orange pull-right" %>
                    <% end %>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end: Top Heading Bar -->

  <div class="f-space20"></div>
  <!-- Logo and Search -->
  <div class="container">
    <div class="row clearfix">
      <div class="col-lg-3 col-xs-12">
        <div class="logo">
          <!--<a href="index.html" title="Flatro Template">-->
          <!--<img alt="Flatro - Responsive Metro Inspired Flat ECommerce theme" src="images/logo-rtl.png">-->
          <%=link_to root_path do %>
              <%= image_tag "logortl.png" %>
          <% end %>
          <!--  <div class="logoimage"><i class="fa fa-shopping-cart fa-fw"></i></div>
           <div class="logotext"><span><strong>فلاترو</strong></span><span>متجر</span></div>
           <span class="slogan">المتجر على شبكة الإنترنت</span> -->
          <!--</a>-->
        </div>
      </div>
      <!-- end: logo -->
      <div class="visible-xs f-space20"></div>
      <!-- search -->
      <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pull-right">
        <div class="searchbar">
          <div action="#">
            <ul class="pull-left">
              <li class="input-prepend dropdown" data-select="true">
                <a class="add-on dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#a">
                  <span class="dropdown-display">
                    دسته بندی ها
                  </span> <i class="fa fa-sort fa-fw"></i> </a>
                <!-- this hidden field is used to contain the selected option from the dropdown -->
                <input class="dropdown-field" type="hidden" value="All Categories">
                <ul class="dropdown-menu" role="menu" style="display: none;">
                  <% for category in Shoppe::ProductCategory.without_parent.order('created_at DESC')  %>
                      <li>
                        <%= link_to category.name, products_path(category.permalink) %>
                      </li>
                      <%#= nested_product_category_rows(category) %>
                      <br>
                  <% end %>
                  <!--<li><a href="#a" data-value="Men Wear">الرجال ارتداء</a></li>-->
                  <!--<li><a href="#a" data-value="Women Wear">النساء ارتداء</a></li>-->
                  <!--<li><a href="#a" data-value="Music">موسيقى</a></li>-->
                  <!--<li><a href="#a" data-value="Mobile Phones">الهواتف النقالة</a></li>-->
                  <!--<li><a href="#a" data-value="Computers">أجهزة الكمبيوتر</a></li>-->
                  <!--<li><a href="#a" data-value="Gaming">الألعاب</a></li>-->
                  <!--<li><a href="#a" data-value="Gift Ideas">أفكار هدية</a></li>-->
                  <!--<li><a href="#a" data-value="All Categories">جميع الفئات</a></li>-->
                </ul>
              </li>
            </ul>
            <div class="searchbox pull-left">
              <%=form_tag({controller: "/pages" , action: "do_search" },:format => "js",method: "get" , id:"main_search") do%>
                  <%=text_field_tag :query,nil,placeholder:"جستجوی کتاب ها،دسته بندی ها",  autocomplete: :off , :class => "searchinput"%>

                  <%= button_tag "" , class: "fa fa-search fa-fw" %>
              <% end %>
              <!--<button class="fa fa-search fa-fw" type="submit"></button>-->
            </div>
          </div>
        </div>


        <div style=" width: 100%; " >
          <ul class="dropdown-menu" style="right: 15px;
                  width: 262px;
                  display: block;
                  background: rgb(44, 147, 88);" , id="result" role="menu">

          </ul>
        </div>

      </div>
      <!-- end: search -->

    </div>
  </div>
  <!-- end: Logo and Search -->
  <div class="f-space20"></div>

</header>