%html.right_to_left
  %head
    %title #{@page_title} - #{Shoppe.settings.store_name}
    = csrf_meta_tags
    = favicon_link_tag 'Dandelion1.png'
    = stylesheet_link_tag :application , media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :application , media: 'all', 'data-turbolinks-track' => true
    %meta{:name=>"description", :content=>"دسته بندی ها را بگرد و کتاب مورد علاقت رو پیدا کن، با چند کلیک سفارش بده، دم در خونه تحویل بگیر"}
    %meta{name:"keywords" ,content:"بانک،بانک کتاب، قاصدک،تحویل حضوری,سفارش آنلاین,خدمات تخفیف,تحویل در محل,گاج,قلمچی,خیلی سبز,دبیرستانی,راهنمایی,پیش دانشگاهی"}
    %meta{name:"author", content:"amir mahdi valeh"}
    %meta{name:"author", content:"mohamad reza pasha"}
    %link{rel:"publisher", href:"www.ghasedakbook.com"}
    %meta{ property:"og:title", content:"#{@page_title}"}
    %meta{ property:"og:type", content:"book"}
    %meta{ property:"og:url" , content:"http://ghasedakbook.com"}
    %meta{ property:"og:image" ,content:"http://ghasedakbook.com/assets/logo-66a9901838a41ae0d66bcf80119ddfa4.png"}
    %meta{ property:"og:description" , content:"دسته بندی ها را بگرد و کتاب مورد علاقت رو پیدا کن، با چند کلیک سفارش بده، دم در خونه تحویل بگیر"}
    %meta{ property:"og:site_name", content:"قاصدک,بانک کتاب قاصدک"}
    %meta{ property:"og:price:currency", content:"Rials, ریال"}
    = render 'shared/header'
  %body

    -#=link_to root_path do
      =image_tag "logo.png" , width: "90"

      -#= render 'shared/basket'
      -#= render 'shared/compare'
      -#= render 'shared/categories'
      -#= render 'shared/reasons'
    = yield
  -#= render 'shared/script'
  = render 'shared/footer'



  -#%li= link_to "صفحه اصلی", root_path, :nav_item => :home
  -#%li
            = link_to "دسته بندی ها", catalogue_path, :nav_item => :catalogue, :class => 'noborder'
            %ul
              - for category in Shoppe::ProductCategory.without_parent.ordered
                %tr
                  %td= link_to category.name, products_path(category.permalink)
                  = nested_product_category_rows(category)
  -#%li= link_to "مزایای خرید از ما", page_path(:why), :nav_item => :why
  -#%li= link_to "سوالات متداول", page_path(:faqs), :nav_item => :faqs